# seeBoard configuration
#
# [gps]
#   show_dms_decimals: True / False (default: False)
#
# [cam]
#   rotation: 0 / 90 / 180 / 270 (default: 0)
#
# [coords]
#   fix_color:   lime / red / cyan / yellow (default: lime)
#   nofix_color: lime / red / cyan / yellow (default: red)
#   error_color: red (default: red)

[gps]
show_dms_decimals = False

[cam]
rotation = 180

[coords]
fix_color = lime
nofix_color = yellow
error_color = red

